[submodule "display2/lib/dawn"]
	path = display2/lib/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "display2/third_party/dawn"]
	path = display2/third_party/dawn
	url = https://github.com/google/dawn.git
